<div class="container">
  <form [formGroup]="form" class="auth-form">

    <label>
      <span>Логін*</span>
      <input type="text" formControlName="email" placeholder="someEmail@ukr.net">
      <span *ngIf="email.touched && email.hasError('require')" class="danger">Введіть логін</span>
      <span *ngIf="email.touched && email.hasError('EmailValidator')" class="danger">
        Логін введено не корректно
      </span>
      <span *ngIf="email.touched && email.errors?.maxlength" class="danger">
        Максимальна кількість символів 30, введено - {{email.value.length}}
      </span>
    </label>
    <label>
      <span>Пароль*</span>
      <div>
        <input [type]="showPass ? 'text' : 'password'" formControlName="password" class="password-input">
        <button (click)="showPass = !showPass">{{showPass ? 'Сховати пароль' : 'Показати пароль'}}</button>
      </div>
      <span *ngIf="password.touched && password.hasError('require')" class="danger">
        Введіть пароль
      </span>
      <span *ngIf="password.touched && password.errors?.maxlength || password.errors?.minlength" class="danger">
        Пароль повинен бути більше 6 символів та менше 16. Символів - {{password.value.length}}
      </span>
    </label>
    <label *ngIf="email.touched && email.valid && password.touched && password.valid">
      <span>4pin*</span>
      <input type="number" formControlName="pin" maxlength="4">
    </label>

    <button type="submit" [disabled]="form.invalid" (click)="auth()">Увійти</button>
  </form>
</div>
